<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="de.unisiegen.SUGAR_CrossPlatform">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.INTERNET" />
    
	<application android:label="SUGAR_CrossPlatform">
        
        <activity android:name=".PseudoDialer">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name=".InCallServiceImpl"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="false" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".EnableProfileReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".DisableProfileReceiver"
            android:enabled="true"
            android:exported="false" />
        
    </application>
</manifest>